/* Header */
.dark-logo {
  width: 102px;
  height: 29px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
}

.nav {
  display: flex;
  align-items: center;
}

nav ul {
  gap: 32px;
  margin-bottom: 0;
  padding-left: 0;
}

nav li {
  height: 25.6px;
}

nav a {
  display: inline-block;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  border-bottom: 2px solid transparent;
  transition: 0.4s linear;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  border-bottom: 2px solid var(--dark-blue);
  color: var(--dark-blue);
}

.hamburger {
  display: none;
}

.mobile-menu {
  display: none;
  padding: 15px;
  border-right: 1px solid #e7e7e7;
  box-shadow: 0px 0px 18px 8px rgba(0, 0, 0, 0.1);
}

.mobile-menu_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#close {
  font-size: 24px;
  color: red;
  border-radius: 50%;
  padding: 5px;
}

.mobile-menu_footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile_lang__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 0;
}

.mobile_lang {
  border: 1px solid #ccc;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 15px;
}

img[alt="flag"] {
  width: 20px;
}

.mobile_lang.active {
  background-color: var(--dark-blue);
  color: #fff;
}

.custom-dropdown {
  width: 132.41px;
}

.custom-dropdown button {
  border: transparent;
  background-color: transparent;
  border-radius: 8px;
  padding: 8px 12px;
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 16px;
}

.dropdown-item {
  cursor: pointer;
}
/* Hero */
.hero-section {
  /* background: linear-gradient(135deg, var(--light-blue), var(--dark-blue) 100%); */
  background-image: url("../../assets/images/print.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  padding: 80px 0;
  color: #fff;
  text-align: center;
}

.hero-section h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 76.8px;
}

.hero-section p {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

/* About-us */

.about-us-section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.about-us-section p {
  color: #555555;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
}

.about-us-section .fas.fa-book-open {
  color: var(--light-blue);
  font-size: 135px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.about-us-section .fas.fa-book-open:hover {
  transform: scale(1.05);
}

.about-us-wrapper {
  display: flex;
  gap: 47px;
}

.about-us-wrapper img {
  width: 50%;
}

.about-us-title {
  color: var(--dark-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 57.6px;
  margin-top: 43px;
}

/* News */
.news-section {
  margin-bottom: 80px;
}

.news-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}
.news {
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px #00000014;
  background: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: calc(100% - 30px);
  overflow: hidden;
}
.news-img {
  padding: 20px;
}

.img-wrap {
  overflow: hidden;
  border-radius: 10px;
}

.news-img img {
  width: 100%;
  height: 188px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s linear;
}

.news-body {
  padding: 20px;
  padding-top: 0;
}

.news-header {
  background-color: var(--light-blue);
  color: #fff;
  padding: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.news-body span {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  margin-bottom: 12px;
}

.news p {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  transition: 0.3s linear;
}
.news:hover {
  box-shadow: 0px 0px 5px 0px #00000027;
}
.news:hover p {
  color: var(--dark-blue);
}
.news:hover .news-img img {
  transform: scale(1.1);
}
/* Books */

.books-section {
  margin-bottom: 80px;
}

.book-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}

.book {
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px #00000014;
  background: #ffffff;
  padding: 48px 30px 27px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: calc(100% - 30px);
}

.book i {
  font-size: 52px;
  color: var(--dark-blue);
  margin-bottom: 37px;
  transition: 0.3s ease-in-out;
}

.book h4 {
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 12px;
  transition: all 0.3s ease-in-out;
}

.book p {
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
}

.book:hover {
  box-shadow: 0px 0px 15px 0px #00000027;
}

.book:hover i,
.book:hover h4 {
  transform: scale(1.1);
}

/* Soon */

.soon-section {
  padding: 80px 0;
  background: #f8f9fa;
}

.soon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}

.soon {
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px #00000014;
  background: #fff;
  padding: 0 0 16px 0;
  text-align: center;
  width: calc(100% - 30px);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.soon img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  transition: 0.3s ease-in-out;
}

.inner-soon {
  margin-bottom: 20px;
  overflow: hidden;
}

.soon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.soon:hover {
  box-shadow: 0px 0px 5px 0px #00000027;
}

.soon:hover img {
  transform: scale(1.1);
}

.soon h4 {
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 0;
}

.soon p {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
}

/* Team */

.team-section {
  margin: 80px 0;
}

.team-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}

.team {
  text-align: center;
  width: 260px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team img {
  border-radius: 50%;
  width: 157px;
  height: 157px;
  object-fit: cover;
}

.team h6 {
  color: var(--dark-blue);
  font-size: 18.72px;
  font-weight: 700;
  line-height: 29.95px;
  margin-bottom: 5px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s linear;
}

.team:hover h6 {
  border-bottom: 2px solid var(--dark-blue);
}

.team p {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

/* Contact */

.contact-section {
  margin: 80px 0;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.contact {
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px #00000014;
  background: #fff;
  padding: 20px;
  width: 600px;
  display: flex;
  gap: 38px;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.contact i {
  font-size: 32px;
  color: var(--light-blue);
  transition: all 0.3s ease-in-out;
}

.contact:hover {
  box-shadow: 0px 0px 5px 0px #00000027;
}

.contact:hover i {
  transform: scale(1.2);
}

.inner-contact h6 {
  color: var(--dark-blue);
  font-size: 18.72px;
  font-weight: 700;
  line-height: 29.95px;
  margin-bottom: 5px;
}

.inner-contact p {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

/* Footer */
footer {
  background-color: var(--dark-blue);
  text-align: center;
  color: #fff;
  padding: 30px 0;
}

/* Media query */

@media (max-width: 1400px) {
  .soon-text {
    padding: 0 10px;
  }

  .soon h4 {
    line-height: 26px;
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .book h4 {
    line-height: 26px;
  }
}

@media (max-width: 992px) {
  /* Header */
  .fa-solid.fa-bars {
    display: inline-block;
  }

  .lang-btn,
  .nav {
    display: none;
  }

  .hamburger {
    display: inline-block;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh;
    height: 100%;
    width: 250px;
    z-index: 100;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }

  .mobile-menu.show {
    transform: translateX(0);
  }

  .mobile-menu img[alt="logo"] {
    width: 100px;
  }

  .mobile-menu_body ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
  }

  .mobile-menu_body li a {
    display: inline-block;
    padding: 10px;
    color: var(--dark-blue);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    transition: all 0.3s ease;
  }

  .mobile-menu_body li a.active,
  .mobile-menu_body li a:hover {
    background-color: var(--dark-blue);
    color: #fff;
  }

  /* Book */
  .book-wrapper,
  .soon-wrapper,
  .team-wrapper {
    flex-wrap: wrap;
  }

  .book,
  .soon {
    width: calc(50% - 30px);
  }

  .news-wrapper {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .news {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .about-us-wrapper {
    flex-wrap: wrap;
    gap: 20px;
  }

  .about-us-wrapper img {
    width: 100%;
  }

  .about-us-title {
    margin-top: 0;
  }

  .team-wrapper {
    align-items: center;
    justify-content: center;
  }

  .contact {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .hero-section h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .about-us-section {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .about-us-title {
    font-size: 32px;
  }

  .section-title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 36px;
  }

  .news-section {
    margin-bottom: 40px;
  }

  .book-wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .news,
  .book,
  .soon {
    width: 100%;
  }
}
