<header class="container header">
  <img
    ngSrc="../../assets/images/booktopia-logo_dark.png"
    width="102"
    height="29"
    alt="dark-logo"
    class="dark-logo"
    priority
  />
  <nav class="nav">
    <ul class="d-flex align-items-center">
      <li>
        <a href="#about-us">{{ "Common.AboutUs" | transloco }}</a>
      </li>
      <li>
        <a href="#news">{{ "Common.News" | transloco }}</a>
      </li>
      <li>
        <a href="#books">{{ "Common.Books" | transloco }}</a>
      </li>
      <li>
        <a href="#soon">{{ "Common.Soon" | transloco }}</a>
      </li>
      <li>
        <a href="#team">{{ "Common.Team" | transloco }}</a>
      </li>
      <li>
        <a href="#contact">{{ "Common.Contact" | transloco }}</a>
      </li>
    </ul>
  </nav>
  <!-- lang -->
  <div class="dropdown custom-dropdown lang-btn">
    <button
      class="dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img src="/assets/images/lang-icon.svg" alt="lang-svg" />
      <span class="lang-span" id="selected-lang">{{ currentItem.value }}</span>
    </button>
    <ul class="dropdown-menu">
      @for (item of lang; track item.key) {
        <li>
          <button
            type="button"
            class="dropdown-item btn"
            (click)="changeLang(item)"
          >
            {{ item.value }}
          </button>
        </li>
      }
    </ul>
  </div>
  <i class="fa-solid fa-bars hamburger" id="hamburger"></i>
  <!-- Mobile menu -->
  <div class="mobile-menu" id="mobile-menu">
    <div>
      <div class="mobile-menu_header">
        <!-- Logo -->
        <div class="logo">
          <img
            ngSrc="../../assets/images/booktopia-logo_dark.png"
            width="102"
            height="29"
            alt="dark-logo"
            class="dark-logo"
            priority
          />
        </div>
        <i class="fa-solid fa-xmark" id="close"></i>
      </div>
      <hr />
      <div class="mobile-menu_body">
        <ul>
          <li><a href="#about-us">Biz haqimizda</a></li>
          <li><a href="#news">Yangiliklar</a></li>
          <li><a href="#books">Kitoblar</a></li>
          <li><a href="#soon">Tez kunda</a></li>
          <li><a href="#team">Jamoa</a></li>
          <li><a href="#contact">Aloqa</a></li>
        </ul>
        <hr />
      </div>
    </div>
    <div class="mobile-menu_footer">
      <ul class="mobile_lang__wrapper">
        <li>
          <a class="mobile_lang active" href="#">
            <img src="/assets/images/uz-flag.svg" alt="flag" />
            <span>UZ</span>
          </a>
        </li>
        <li>
          <a class="mobile_lang" href="#">
            <img src="/assets/images/en-flag.svg" alt="flag" />
            <span>EN</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<main>
  <section class="hero-section">
    <div class="container">
      <h1>Bilimga yo'l ochuvchi nashriyot</h1>
      <p>
        Sifatli va qiziqarli kitoblar orqali o'quvchilarimizni rivojlantiramiz
      </p>
    </div>
  </section>
  <section id="about-us" class="container about-us-section">
    <div class="about-us-wrapper">
      <!-- <img src="/assets/images/about.jpg" alt="" /> -->
      <img
        ngSrc="../../assets/images/about.jpg"
        width="648"
        height="362"
        alt="dark-logo"
        priority
      />
      <div class="about-us-text">
        <h2 class="about-us-title">Biz haqimizda</h2>
        <p>
          Bizning nashriyot zamonaviy va sifatli kitoblar chop etish bilan
          shug'ullanadi. Har bir kitob o'z sohasida noyob bo'lib, o'quvchilarga
          yangi bilimlar va tajribalar taqdim etadi. Biz har bir loyihaga katta
          e'tibor beramiz va o'z ishimizni sevgan jamoaga egamiz.
        </p>
      </div>
    </div>
  </section>
  <section id="news" class="container news-section">
    <h2 class="section-title">Yangiliklar</h2>
    <div class="news-wrapper">
      <div class="news">
        <div class="news-img">
          <div class="img-wrap">
            <img src="/assets/images/news-1.jpg" alt="news" />
          </div>
        </div>
        <div class="news-body">
          <span>13.01.2026</span>
          <p>
            Ilmiy-fantastika janrida yangi kitoblar seriyasini boshlayapmiz. Bu
            seriya yosh o'quvchilar uchun mo'ljallangan.
          </p>
        </div>
      </div>
      <div class="news">
        <div class="news-img">
          <div class="img-wrap">
            <img src="/assets/images/news-2.jpg" alt="news" />
          </div>
        </div>
        <div class="news-body">
          <span>13.01.2026</span>
          <p>
            Nashriyotimiz eng yaxshi badiiy adabiyot nashriyoti sifatida e'tirof
            etildi va xalqaro mukofotga sazovor bo'ldi.
          </p>
        </div>
      </div>
      <div class="news">
        <div class="news-img">
          <div class="img-wrap">
            <img src="/assets/images/news-3.jpg" alt="news" />
          </div>
        </div>
        <div class="news-body">
          <span>13.01.2026</span>
          <p>
            Yozuvchilar bilan uchrashuv tadbiri tashkil etiladi. Barcha
            qiziquvchilarni taklif qilamiz!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="books" class="container books-section">
    <h2 class="section-title">Nashriyot kitoblari</h2>
    <div class="book-wrapper">
      <div class="book">
        <i class="ri-book-2-fill"></i>
        <h4>Badiiy adabiyotlar</h4>
        <p>Klassik va zamonaviy romanlar, hikoyalar va she'rlar</p>
      </div>
      <div class="book">
        <i class="ri-graduation-cap-fill"></i>
        <h4>O'quv qo'llanmalari</h4>
        <p>Turli fanlar bo'yicha zamonaviy darsliklar</p>
      </div>
      <div class="book">
        <i class="ri-empathize-fill"></i>
        <h4>Bolalar adabiyoti</h4>
        <p>Rang-barang va o'qish qiziqarli ertaklar</p>
      </div>
      <div class="book">
        <i class="ri-flask-fill"></i>
        <h4>Ilmiy kitoblar</h4>
        <p>Fan va texnologiya sohasidagi tadqiqotlar</p>
      </div>
    </div>
  </section>
  <section id="soon" class="soon-section">
    <div class="container">
      <h2 class="section-title">Tez kunda chiqadigan kitoblar</h2>
      <div class="soon-wrapper">
        <div class="soon">
          <div class="inner-soon">
            <img src="/assets/images/soon-book-2.png" alt="soon-book" />
          </div>
          <div class="soon-text">
            <h4>Money making book secrets</h4>
            <p>Muallif: Darren M. Palmer | Fevral 2026</p>
          </div>
        </div>
        <div class="soon">
          <div class="inner-soon">
            <img src="/assets/images/soon-book-1.png" alt="soon-book" />
          </div>
          <div class="soon-text">
            <h4>Love your enimies</h4>
            <p>Muallif: Arthur C. Brooks | Mart 2026</p>
          </div>
        </div>
        <div class="soon">
          <div class="inner-soon">
            <img src="/assets/images/soon-book-3.png" alt="soon-book" />
          </div>
          <div class="soon-text">
            <h4>Your story is worth telling</h4>
            <p>Muallif: Kenneth J. Mackay | Aprel 2026</p>
          </div>
        </div>
        <div class="soon">
          <div class="inner-soon">
            <img src="/assets/images/soon-book-4.png" alt="soon-book" />
          </div>
          <div class="soon-text">
            <h4>Good Sister</h4>
            <p>Muallif: Alexa Blye | May 2026</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="team" class="team-section">
    <div class="container">
      <h2 class="section-title">Bizning jamoa</h2>
      <div class="team-wrapper">
        <div class="team">
          <img src="/assets/images/team-img-1.jpg" alt="team-img" />
          <h6>Ma'mura Qutliyeva</h6>
          <p>Bosh muharrir</p>
        </div>
        <div class="team">
          <img src="/assets/images/team-img-2.jpg" alt="team-img" />
          <h6>Sanjar Sadullayev</h6>
          <p>Dizayner</p>
        </div>
        <div class="team">
          <img src="/assets/images/team-img-3.jpg" alt="team-img" />
          <h6>Shaxboz Nosirov</h6>
          <p>Musahih</p>
        </div>
        <div class="team">
          <img src="/assets/images/team-img-4.jpg" alt="team-img" />
          <h6>Shohjaxon Vafoev</h6>
          <p>Sahifalovchi</p>
        </div>
      </div>
    </div>
  </section>
  <section id="contact" class="contact-section">
    <div class="container">
      <h2 class="section-title">Biz bilan bog'laning</h2>
      <div class="contact-wrapper">
        <div class="contact">
          <i class="ri-map-pin-2-fill"></i>
          <div class="inner-contact">
            <h6>Manzil</h6>
            <p>Toshkent sh., Amir Temur ko'chasi 100</p>
          </div>
        </div>
        <div class="contact">
          <i class="ri-phone-fill"></i>
          <div class="inner-contact">
            <h6>Telefon</h6>
            <p>+998 97 751 44 55</p>
          </div>
        </div>
        <div class="contact">
          <i class="ri-mail-fill"></i>
          <div class="inner-contact">
            <h6>Email</h6>
            <p>info&#64;booktopia.uz</p>
          </div>
        </div>
        <div class="contact">
          <i class="ri-time-fill"></i>
          <div class="inner-contact">
            <h6>Ish vaqti</h6>
            <p>Dushanba - Juma 9:00 - 18:00</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <div class="container">
    <p>© 2026 Booktopia. Barcha huquqlar himoyalangan.</p>
  </div>
</footer>
